<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean name="table" class="javax.swing.JTable"/>
	<bean name="frame" class="javax.swing.JFrame"/>
	<bean name="faker" class="model.FakerData"/>
	<bean name="mouse" class="controller.Mouse"/>
	<bean name="keyboard" class="controller.Keyboard">
		<constructor-arg ref="faker"/>
	</bean>
	
	<bean name="button" class="controller.Button">		
		<constructor-arg ref="database"/>
		<constructor-arg ref="faker"/>				
	</bean>
	
	<bean name="modelTable" class="view.ModelTable"/>
	
	<bean name="window" class="view.Window">
		<constructor-arg ref="frame"/>
		<constructor-arg ref="modelTable"/>
		<constructor-arg ref="database"/>
		<constructor-arg ref="button"/>
		<constructor-arg ref="table"/>
		<constructor-arg ref="mouse" />
		<constructor-arg ref="keyboard"/>
	</bean>
	
	<bean name="conexao" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
		<property name="username" value="postgres"/>
		<property name="password" value="123456"/>
	</bean>
	
	<bean name="dao" class="org.springframework.jdbc.core.JdbcTemplate" lazy-init="false">
		<property name="dataSource" ref="conexao" />
		<property name="lazyInit" value="false" />
	</bean>
	
	<bean name="database" class="controller.Database">
		<constructor-arg ref="dao"/>
		<constructor-arg value="Cliente"/>
	</bean>
	
</beans>