<!-- 
    PRESTE TOOTAL ATENÇÃO NO DOCTYPE, ISSO É VALIDADO POR UM DTD, 
    VERIFIQUE SE O MESMO AINDA EXISTE E ESTA ONLINE SE POSSIVEL.
    ALEM DISSO NÃO OMITA A TAG XML ABAIXO TAMBÉM, POIS É ASSIM QUE
    É IDENTIFICADO.
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- O hibernate-configuration, seria o root do XML. -->
<hibernate-configuration>
<!-- 
    O factory lida com a parte de conexão com o banco de dados,
    preste a atenção no padrão de nomenclatura, que seria:
    hibernate.connection.<o atributo> esse seria o name de 
    cada property.
    Os valores de cada property vão como valores dentro das tags, 
    seguindo a risca a estrutura dos XML.
-->
    <session-factory>
        <!-- Aqui carrega o driver do hibernate -->
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <!-- 
            Aqui é informado o nome do banco usando o driver JDBC, ou seja
            jdbc:seuBancoDeDados://SEUHOST/SEUBANCODEDADOS
        -->
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost/Hibernate
        </property>
        <!-- Username no banco de dados. -->
        <property name="hibernate.connection.username">
            postgres
        </property>
        <!-- Password no banco de dados. -->
        <property name="hibernate.connection.password">
            123456
        </property>
        <!-- É o dialeto do Banco de dados, cada banco de dados tem um. -->
        <property name="hibernate.connection.dialect">
            org.hibernate.dialect.postgreSQLDialect
        </property>
        <!-- Mapeamento de classes -->
        <mapping resource="aluno.hbm.xml" />
    </session-factory>
</hibernate-configuration>